<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_bootstrapCSS') %>
    <title>404</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">404 - That page doesn't exist!</a></h5>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <%- include('partials/_bootstrapJS') %>
  </body>
</html>